body {
    background-color: #BBCDBF;
    color: #3B4034;
}

nav {
    position:absolute;
    top: 54px;
    right: 15px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #EDEACE
}

.container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 100px 100px 450px 500px;
    grid-template-areas: 
    "logo . navbar"
    ". title ."
    "image . content"
    "footer footer footer"
    ;
}

header {
    grid-area: logo navbar;
}

h2 {
    grid-area: title;
}

section {
    grid-area: image content;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 768px) {
    bod {
        margin: 0 15px;
    }

    .container{
        width: 100%;
    }
}