/* Configuração geral */

body {
    background-color: #BBCDBF;
    color: #3B4034;
}

nav {
    position:absolute;
    top: 54px;
    right: 15px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    ;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #EDEACE
}

footer {
    text-align: center;
    padding-top: 50px;
}

/* CSS página HOME - Index */

.title-home {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;
}

.container{
    display: inline-block;
    position:relative;
    margin-left: 100px;
    font-size: 1.2rem;
}

.text{
    display: inline;
    position: absolute;
    width: 500px;
}

.image-home {
    display: inline-block;
    margin-right: 100px;
    transition: 400ms;
	box-shadow: 10px 10px 10px 0 #545151;
}
    
.image-home:hover {
    opacity: 0.3;
}

/* CSS página SOBRE */

.title-about {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;
}

.container-about{
    position:relative;
    margin-left: 100px;
    font-size: 1.2rem;
    display: inline-block;
}

.text-about{
    display: inline;
    position: absolute;
    width: 500px;
}

.image-about {
    display: inline-block;
    margin-right: 100px;
    transition: 400ms;
	box-shadow: 10px 10px 10px 0 #545151;   



/* CSS página SERVIÇOS */



/* CSS página DICAS */



/* CSS página CONTATO */

}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

