/* Configuração geral */

body {
    background-color: #BBCDBF;
    color: #3B4034;
}

nav {
    position:absolute;
    top: 54px;
    right: 15px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    ;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #EDEACE
}

footer {
    text-align: center;
    padding-top: 50px;
}

/* CSS página HOME - Index */

.title-home {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;
}

.container{
    display: inline-block;
    position:relative;
    margin-left: 100px;
}

.texto{
    display: inline;
    position: absolute;
    width: 500px;
    
}

.image-home {
    display: inline-block;
    margin-right: 100px;
    transition: 400ms;
	box-shadow: 10px 10px 10px 0 #545151;

}
    
.image-home:hover {
    opacity: 0.3;
}

.paragraph-home {
    font-size: 1.2rem;
    display: inline-block;
}

/* CSS página SOBRE */



/* CSS página SERVIÇOS */



/* CSS página DICAS */



/* CSS página CONTATO */


