/* Configuração geral */

body {
    background-color: #BBCDBF;
    color: #3B4034;
}

nav {
    position:absolute;
    top: 54px;
    right: 15px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #EDEACE
}

footer {
    text-align: center;
    padding-top: 50px;
}

/* CSS página HOME - Index */

.title-home {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;
}

.container{
    display: inline-block;
    position:relative;
    margin-left: 100px;
    font-size: 1.2rem;
}

.text{
    display: inline;
    position: absolute;
    width: 500px;
	float: right;
	margin: 0;
	padding: 25px;
}

.image-home {
    margin: 0;
	padding: 10px;
    transition: 400ms;
	box-shadow: 10px 10px 10px 0 #545151;
	float: left;
}
    
.image-home:hover {
    opacity: 0.3;
}

/* CSS página SOBRE */

.title-about {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;
}

.container-about{
    position:relative;
    margin-left: 100px;
    font-size: 1.2rem;
    display: inline-block;
}

.text-about{
    display: inline;
    position: absolute;
    width: 500px;
	float: right;
	margin: 0;
	padding: 25px;
}

.image-about img {
    display: inline;
	margin: 0;
	padding: 10px;
    transition: 400ms;
	box-shadow: 10px 10px 10px 0 #545151;
	float: left;
	width: 45%;
}


/* CSS página SERVIÇOS */

.services {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.title-service {
	text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;	
}

.services li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing:border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.services li:hover {
	border-color: #C78C19;
}

.services li:active {
	border-color: #088C19;	
}

.services li:hover h3 {
	font-size: 25px;
}

.services h3 {
	font-size:20px;
	font-weight: bold	
}

.image-analysis {
	width: 100%;
	display: block;
}

.image-purchase {
	width: 100%;
	display: block;
}

.image-menu {
	width: 100%;
	display: block;
}

.services-description {
	font-size: 18px;
}


/* CSS página RECEITAS */

.recipes {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.title-recipes {
	text-align: center;
    font-size: 2rem;
    margin: 0 0 40px 0;	
}

.recipes li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing:border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.recipes li:hover {
	border-color: #C78C19;
}

.recipes li:active {
	border-color: #088C19;	
}

.recipes li:hover h3 {
	font-size: 25px;
}

.recipes h3 {
	font-size:20p;
	font-weight: bold	
}

.image-chicken {
	width: 100%;
	display: block;
}

.image-eggs {
	width: 100%;
	display: block;
}

.image-aubergine {
	width: 100%;
	display: block;
}

.recipes-description {
	font-size: 18px;
}


/* CSS página CONTATO */

main {
	padding-left: 50px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-pattern {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.btn {
	width:40%;
	padding: 15px 0;
	background: #84A48C;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.btn:hover {
	background: #DDBF96;
	transform: scale(1.2);
}

.map {
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
	
}
